<header class="site-header" role="banner">

  <div class="wrapper">
    
    <div class="title-wrapper">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <p class="site-title">{{ page.section }} </p>
    </div>

    <div class="subtitle-wrapper">
        <h2 class="subtitle-text">Software developer and freelance journalist</h2>
    </div>
    
    <nav class="site-nav">
      <a class="page-link" href="/">Blog</a>
      <a href="/projects/" class="page-link">Projects</a>
      <a href="/publications/" class="page-link">Publications</a>
      <a href="/pdf/resume.pdf" class="page-link">Resume</a>
      <a href="/about/" class="page-link">About</a>
    </nav>
    
  </div>

  
</header>