@include media-query-not($on-mobile) {
  table.publications {
    border-collapse: collapse;
  }

  table.publications tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table.publications td {
    padding: 5px;
  }

  table.publications td {
    border-bottom: 1px dotted black;
  }
}

@include media-query($on-mobile) {
  table.publications tr > td:not(:last-child) {
    border-right: 1px dotted black;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
  }
}
