table.listof {
  margin-bottom: $spacing-unit / 2;
  width: 100%;
}

table.listof tr:nth-child(even) {
  background-color: #f2f2f2;
}

@include media-query-not($on-mobile) {
  table.listof {
    border-collapse: collapse;
  }

  table.listof td {
    padding: 5px;
  }

  table.listof td {
    border-bottom: 1px dotted black;
  }
}

@include media-query($on-mobile) {
  table.listof tr > td:first-child {
    border-right: 1px dotted black;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
  }
}
