---
layout: default
---

<div class="home">

  {% include tags.html %}

  <ul class="post-list">
      {% for post in paginator.posts %}
      <li data-tags="{{ post.tags | join: " " }}">

        {% include post.html %}

        {{ post.excerpt | markdownify }}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item pagination-wrapper" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <div class="svg-icon arrow-left"></div>
      Newer
    </a>    
    {% endif %}

    <div class="pagination-item pagination-wrapper">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="pagination-item">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="pagination-item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    </div>

    {% if paginator.next_page %}
      <a class="pagination-item pagination-wrapper" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        Older
        <div class="svg-icon arrow-right"></div>
      </a>
    {% endif %}
  </div>
  {% endif %}

</div>
